.back-ground{
    background-image: url('hurling5rules.jpeg');
    background-size: contain;
    background-position: center;
    background-repeat: repeat ;
    
}
.transparent-box {
    background-color: rgba(255, 255, 255); 
    color: black;
    padding: 50px;
    text-align: center;
    opacity: 0.8;
}
 a{
    text-decoration: none;
 
}
 a{
    display: flex;
    flex-direction: start;
    align-items: center; 
    color:rgb(0, 161, 62);
}
footer{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2%;
    background-color: rgba(194, 231, 208, 0.250) ;
}

ul{
    list-style: none;
}
@media (max-width: 1000px) {
    main{
        padding: 5px;
        margin: 5px;
        border-radius: 12px;
    