body{
    background: linear-gradient( rgb(178, 233, 146),rgb(104, 179, 19));
}

#wrapper{
    background-image: url(Hurling3.jpeg);     
    padding:20px;  
    background-color: #e6e6e6;
    width: 100%;
    margin:auto;

}
input[type=text]{
    width: 80%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;

  }
  
  input[type=text]:focus{
    background-color: #ddd;
    outline: none;
  }
  
  h1 {
    margin-bottom: 25px;
    display: flex;
    justify-content: center;
  }

  #green-button{
    display:flex;
    justify-content: center;
    
  }

  .button {
    color: white;
    padding: 14px 20px;
    margin: 8px;
    cursor: pointer;
    background-color: #34ca4d;
    color: white;
    padding: 4px;

  }

  a{
    color: #000000;
    background-color:#ddd;
    border-style:solid;
    border-radius: 5px;
    border-color:#ddd;
  }
  
  button {
    background-color: #34ca4d;
    color: white;
    padding: 4px 2px;
    margin-top: 4px;
    border-style: solid;
    cursor: pointer;
    }
.form1{
    display: grid;
    grid-template-columns: 200px, 200px;
    grid-template-rows: 20px,20px,20px;
    
}
.section{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}