#wrapper{ background-color: rgb(230, 250, 255);
    border-radius: 10px;
    padding: 10px;
   
}
p{ font-family: sans-serif;
    font-style: normal;
}

h1{
    display:flex;
    justify-content: center;
    background-color: rgb(108, 175, 238);
    color:#313131 ;
    margin: 0px;
    padding: 20px;
    border-radius: 20px;
    font-family: sans-serif;

}


a{
    color: aquamarine;
 
}
#bulk{
    display: flex;
    justify-content: center;
    flex-direction: column;

}
#bulk h3{
    display:flex;
    justify-content: center;
    background-color:rgb(108, 175, 238) ;
    border-radius: 20px;
    padding: 0%;
    margin: .5rem;
    color: #313131;
    font-family: sans-serif;
}
footer{
    background-color: #000000;
    color: #ccc;
    display: flex;
    text-align: center;
    padding: 10px 5px;
}
iframe{
    margin: 10px;
    
}

@media (max-width: 700px) {

    #wrapper{
        min-width: 400px;
    }
    
    ul {
        display: grid;
        grid-template-columns: 1fr;
        gap: 10px;
        padding: 10px;
    }

    li {
        justify-content: center;
    }

    #bulk {
        display: grid;
        grid-template-columns: 1fr;
        gap: 1rem;
        padding: 10px;
    }

    footer {
        flex-direction: column;
        align-items: center;
    }
}