#header{
    background-color: #ffffff;
    color: rgb(194, 231, 208);
    font-family: sans-serif;
    text-align: center;
}
#bulk{
    
    padding: 5px;
    margin: 5px;
    border-radius: 12px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    font-family: sans-serif;
    line-height: 1.2rem;
    font-size: 1.1rem;
    color: #000000;
}
.back-ground{
    background-image: url('hurling5rules.jpeg');
    background-size: contain;
    background-position: center;
    background-repeat: repeat ;
    
}
.transparent-box {
    background-color: rgba(255, 255, 255); 
    color: black;
    padding: 50px;
    text-align: center;
    opacity: 0.8;
}
footer{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2%;
    background-color: rgba(194, 231, 208, 0.250) ;
}
footer a{
color: rgb(194, 231, 208);
font-size: x-large;
background-image: url(hurling3.jpeg);
border-radius: 4px;
margin: auto;
display: flex;
}
ul{
    list-style: none;
}
@media (max-width: 1000px) {
    #bulk{
        padding: 5px;
        margin: 5px;
        border-radius: 12px;
    